<h1>Login</h1>

<%= form_for :session, url: login_path, method: :post do |f| %>

<div>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
</div>

<div>
  <%= f.submit "Log In", class: "button btn-regular" %><br></br>
</div>

<div id="facebook_login">
  <%= link_to ('Facebook_Login'), '/auth/facebook', class: "button btn-regular" %><br></br>
</div>

<% end %>
