<div class="pie_ratings">

  <%= form_for [@pie_rating] do |f| %>
  <% if @pie_rating.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @pie_rating.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <%= f.label :pie_id %>
      <%= f.collection_select(:pie_id, Pie.all, :id, :name) %>
    </div>
    <div>
      <h4>Restaurant Goes Here</h4>
    </div>
    <div>
      <%= f.label :taste_score %>
      <%= f.select :taste_score, [['★☆☆☆☆',1], ['★★☆☆☆',2], ['★★★☆☆',3], ['★★★★☆',4], ['★★★★★',5]] %>
    </div>
    <br><br>
    <div>
      <%= f.label :comments %>
      <%= f.text_area :comments %>
    </div>
    <%= f.submit "Submit", class: "button btn-regular" %>
  <% end %>

</div>
