<h1>Signup</h1>

<%= form_for @user do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h3>There were some errors:</h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div >
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>

    <%= f.label :email %><br>
    <%= f.text_field :email %><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
  </div>

  <div>
    <%= f.submit "Sign Up"%><br>
  </div>
<% end %>

  <div id="facebook_login">
    <%= link_to ('Facebook_Login'), '/auth/facebook' %><br></br>
  </div>
