<div class="user_home">
  <h2>Let's get eating <%= @user.username.capitalize %>. Where would you like to start?</h2>

  <h3>List of Restaurants</h3>
  <li>By Borough</li>
  <li>By Neighborhood</li>


  <h3>Pizza Styles</h3>
  <% @categories.each do |cat| %>
    <ul>
      <li><%= cat.name %></li>
    </ul>
  <% end %>
  <h3>Pizza Type</h3>

  <% @pies.each do |pie| %>
    <ul>
      <li><%= pie.name %> - A <%= pie.shape %> Shaped <%= pie.crust %> Crust Pie  With <%= pie.cheese %> Cheese Baked in an <%= pie.pan %> <%= %></li>
    </ul>
  <% end %>

  <h3>List of User's Restaurants (<%= @user.username.capitalize%>'s Restaurants)</h3>
  <li>By Rating</li>
</div>
