<h1>Pizza</h1>

<% @pies.each do |pie| %>
  <li><%= link_to pie.name, py_path(pie.id) %> : A <%= pie.shape %> shaped <%= pie.crust %> crust pie  with <%= pie.cheese %> cheese.
  <% if pie.pan? %>
     Baked in an <%= pie.pan %> pan. </li>
  <% end %>
<% end %>
