<h1>New Pie</h1>

<%= form_for @pie do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <p>Style Pizza: <%= f.collection_select :category_id, Category.all, :name, :name %></p>

    <p>Crust: <%= f.collection_select :crust_id, Crust.all, :name, :name %></p>

    <p>Sauce: <%= f.collection_select(:sauce_id, Sauce.all, :name, :name, {include_blank: ' '} )%></p>

    <p>Cheese: <%= f.collection_select(:cheese_id, Cheese.all, :name, :name, {include_blank: ' '}) %></p>

    <p>Toppings: <%= f.collection_select(:topping_id, Topping.all, :name, :name, {include_blank: ' '}) %></p>


  </div>

  <%= f.submit "Create Pie", class: "button btn-regular" %>
<% end %>
