<h1>New Pie</h1>

<%= form_for @pie do |f| %>
<% if @pie.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @pie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <p>Style Pizza: <%= f.collection_select :category_id, Category.all, :id, :name %></p>

    <p>Crust: <%= f.collection_select :crust_id, Crust.all, :id, :name %></p>

    <p>Sauce: <%= f.collection_select(:sauce_id, Sauce.all, :id, :name, {include_blank: ' '} )%></p>

    <p>Cheese: <%= f.collection_select(:cheese_id, Cheese.all, :id, :name, {include_blank: ' '}) %></p>

    <p>Toppings: <%= f.collection_select(:topping_id, Topping.all, :id, :name, {include_blank: ' '}) %></p>


  </div>

  <%= f.submit "Create Pie", class: "button btn-regular" %>
<% end %>
