<div class="pies">
  <h1><%= @pie.name %> Pie</h1>
  <h3>Crust: <%= @pie.crust.name %></h3>
  <h3>Sauce: <%= @pie.sauce.name %></h3>
  <h3>Cheese: <%= @pie.cheese.name %></h3>
  <h3>Toppings: <%= @pie.topping.name %></h3>

  method for listing multiple toppings (have to fix in controller first to add multiple toppings)

  <h2><%= link_to "Rate this Pie", pie_rating_path %></h2>

</div>
