<div class="pies">
  <h1><%= @pie.name %> Pie</h1>
  <h3>Style: <%= @pie.category.name %></h3>
  <h3>Crust: <%= @pie.crust.name %></h3>
  <h3>Sauce: <%= @pie.sauce.name %></h3>
  <h3>Cheese: <% @pie.cheeses.each do |cheese| %></h3>
    <p><%= cheese.name %></p>
  <% end %>

  <h3>Toppings: <% @pie.toppings.each do |topping| %></h3>
    <p><%= topping.name %></p>
  <% end %>

  <h2>Available at: </h2>

  <% @pie.restaurants.each do |restaurant| %>
    <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
  <% end %>


  <h2><%= link_to "Edit this Pie", edit_py_path if logged_in? %></h2>
  <h2><%= link_to "Rate this Pie", pie_rating_path if logged_in? %></h2>

</div>
