<div class="center-align">
  <h1><%= @pie.name %> Pie</h1>
  <h3>Style: <%= link_to @pie.category.name, category_path(@category.id) %></h3>
  <h3>Crust: <%= link_to @pie.crust.name, crust_path(@crust.id) %></h3>
  <h3>Sauce: <%= link_to @pie.sauce.name, sauce_path(@sauce.id) %></h3>
  <h3>Cheese: <% @pie.cheeses.each do |cheese| %></h3>
    <p><%= link_to cheese.name, cheese_path(cheese.id) %></p>
  <% end %>

  <h3>Toppings: <% @pie.toppings.each do |topping| %></h3>
    <p><%= link_to topping.name, topping_path(topping.id) %></p>
  <% end %>

  <h2>Available at: </h2>

  <% @pie.restaurants.sort_by(&:name).each do |restaurant| %>
    <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
  <% end %>

  <br></br>

  <% if logged_in? %>
    <h3><%= link_to "Edit this Pie", edit_py_path, class: "button btn-regular" %></h3>
  <% end %>

</div>
