<div>
  <h1>Write a review for <%= @restaurant.name %>: </h1>

  <%= form_for [@restaurant, @restaurant_rating] do |f| %>
    <div>
      <%= f.label "How was the atmosphere?" %>
      <%= f.select :atmosphere_score, [['★☆☆☆☆',1], ['★★☆☆☆',2], ['★★★☆☆',3], ['★★★★☆',4], ['★★★★★',5]] %><br><br>

      <%= f.label "How was the service?" %>
      <%= f.select :service_score, [['★☆☆☆☆',1], ['★★☆☆☆',2], ['★★★☆☆',3], ['★★★★☆',4], ['★★★★★',5]] %><br><br>

      <%= f.label "How was the food?" %>
      <%= f.select :food_score, [['★☆☆☆☆',1], ['★★☆☆☆',2], ['★★★☆☆',3], ['★★★★☆',4], ['★★★★★',5]] %><br><br>

      <%= f.label "What would you say about the restaurant itself?" %>
      <%= f.text_area :comments %>

    </div>

    <div>
      <h3>What Pies did you Eat?</h3>
      <% @pies.each do |pie| %>
        <p><%= link_to pie.name, py_path(pie.id) %></p>
      <% end %>


    </div>
    <%= f.submit "Submit", class: "button btn-regular" %>
  <% end %>

</div>
