<div class="center-align">
  <h1><%= @current_user.username.capitalize %>'s Review of <%= @restaurant.name %></h1>

  <p>Food Rating: <%= @restaurant_rating.food_score %> Stars</p>

  <p>Service Rating: <%= @restaurant_rating.service_score %> Stars</p>

  <p>Atmosphere Rating: <%= @restaurant_rating.atmosphere_score %> Stars</p>

  <p>Comments: <%= @restaurant_rating.comments %></p>

  <% if logged_in? && current_user == @restaurant_rating.user %>
    <%= link_to "Edit this Rating", edit_restaurant_restaurant_rating_path(@restaurant, @restaurant_rating.id), class: "button btn-regular"%><br><br>
    <%= link_to "Delete this Rating", restaurant_restaurant_rating_path(@restaurant, @restaurant_rating.id), method: :delete, data: { confirm: "Are you sure?" }, class: "button btn-regular" %><br></br>
    <%= link_to "Ratings Home", restaurant_ratings_path, class: "button btn-regular" %>
  <% end %>
  
</div>
