<div class="center-align">
  <h1><%= @sauce.name %></h1>


  <% if @sauce.pies.empty? %>
    <p>Whoa there <%= @sauce.name %>, looks like you're pretty lonely.</p>
    <% if logged_in? %>
      <p>Want to add something?</p>
        <%= link_to "Create a new Pie", new_py_path, class: "button btn-regular" %> <br></br>
    <% end %>
  <% end %>

  <% @sauce.pies.sort_by(&:name).each do |pie| %>
    <p><%= link_to pie.name, py_path(pie.id)%></p>
  <% end %>

    <%= link_to "Sauces Home", sauces_path, class: "button btn-regular"%>
</div>
