<div class="center-align">
  <h1>Restaurants</h1>

    <h3>Filter Restaurants by Borough:</h3>
    <%= form_tag("/restaurants", method: "get") do %>
      <%= select_tag "borough", options_for_select(["The Bronx", "Brooklyn", "Manhattan", "Queens", "Staten Island"]), include_blank: true %>
      <%= submit_tag "Filter", class: "button btn-regular" %>
    <% end %>


    <% @restaurants.each do |rest| %>
      <p><%= link_to rest.name, restaurant_path(rest.id) %></p>
    <% end %>
    <br></br>

    <% if logged_in? %>
      <h4><%= link_to "Create a New Restaurant", new_restaurant_path%></h4>
    <% end %>

</div>
