<h1>New Restaurant</h1>

<%= form_for @restaurant do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :neighborhood %><br>
    <%= f.text_field :neighborhood %><br>

    <%= f.label :borough %><br>
    <%= f.text_field :borough %><br>

    <%= f.label :seating %><br>
    <%= f.text_field :seating %><br>

    <%= f.label :oven %><br>
    <%= f.text_field :oven %><br>

    <%= f.label :multiple_locations %><br>
    <%= f.check_box :multiple_locations %><br>

  </div>


  <%= f.submit "Create Restaurant", class: "button btn-regular" %>
<% end %>
