<div class="center-align">

  <h1><%= @restaurant.name %></h1>

  <p>Location: <%= @restaurant.borough %>, <%= @restaurant.neighborhood %></p>

  <p>Style Pizza: <% @restaurant.categories.each do |cat| %></p>
    <p><%= link_to cat.name, category_path(cat.id) %></p>
  <% end %>

  <% if @restaurant.oven? %>
    <p>Made in a <%= @restaurant.oven %> oven.</p>
  <% end %>

  <% if @restaurant.multiple_locations == true %>
    <p>More than one location.</p>
  <% end %>

  <p>Seating: <%= @restaurant.seating.capitalize %>.</p>

  <h2>Pies Available:</h2>
  <% @restaurant.pies.each do |pie| %>
    <p><%= link_to pie.name, py_path(pie.id) %></p>
  <% end %>

  <% if logged_in? %>
    <h3><%= link_to "Edit this Restaurant", edit_restaurant_path %></h3>
    <h3><%= link_to "Write a review", new_restaurant_restaurant_rating_path(@restaurant.id) %></h3>
  <% end %>

</div>
