<div class="restaurant">

  <h1><%= @restaurant.name %></h1>

  <p>Location: <%= @restaurant.borough %>, <%= @restaurant.neighborhood %></p>

  <p>Style Pizza: <%= @restaurant.category.name %></p>

  <% if @restaurant.oven? %>
    <p>Made in a <%= @restaurant.oven %>.</p>
  <% end %>

  <% if @restaurant.multiple_locations == true %>
    <p>More than one location.</p>
  <% end %>

  <p><%= @restaurant.seating.capitalize %>.</p>


  <h4><%= link_to "Edit this Restaurant", edit_restaurant_path %></h4>
  <h4><%= link_to "Write a review", user_restaurant_path(@restaurant.id)%></h4>


</div>
