<!DOCTYPE html>
<html>
  <head>
    <title>SliceNyc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- < navbar if logged_in logic here to login/logout/signup>  -->
      <%# <% if logged_in? %>
        <%# <%= link_to "#{current_user.name}'s Profile", user_path(current_user), class:"navbar-brand" %>
        <%# <%= link_to "Log Out", signout_path, method: :delete, class:"navbar-brand" %>
      <%# <% else %>
        <%# <%= link_to "Sign Up", new_user_url, class:"navbar-brand" %>
        <%# <%= link_to "Log In", signin_path, class:"navbar-brand" %> %> %> %> %> %>
      <%# <% end %> %> %>

    </div>

    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>

    <footer>
    </footer>
  </body>
</html>
