<!DOCTYPE html>
<html>
  <head>
    <title>SliceNyc</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">

  <body>
    <header>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
          <a class="logo" href="<%= root_url %>">SliceNYC</a>

          <% if logged_in? %>
            <%= link_to "#{current_user.username.capitalize}'s Profile", user_path(current_user), class:"navbar-brand" %>
            <%= link_to "Log Out", logout_path, method: :delete, class:"navbar-brand" %>
          <% else %>
            <%= link_to "Login", login_path %>
            <%= link_to "Sign Up", signup_path %>
          <% end %>
          </div>
        </div>
      </div>
    </header>



    <% if flash[:alert] %>
      <div class="container">
          <div class="alert"><%= flash[:alert] %></div>
      </div>
    <% end %>

    <% if flash[:error_alert] %>
      <div class="container">
          <div class="error_alert"><%= flash[:error_alert] %></div>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  </body>

  <footer>
    <p></p>
  </footer>
</html>
